{% set flashes = {"message": [

]} %}

{% for label, messages in app.flashes() %}
    {% for message in messages %}
        <div class="alert alert-{{ label }} alert-dismissible fade show shadow" role="alert">
            {% if message is not iterable %}
                <p>{{ message | raw }}</p>
            {% else %}
                {% if message.header is defined %}
                    <h4 class="alert-heading">{{ message.header | raw }}</h4>
                {% endif %}

                {% if message.header is defined and message.body is defined %}<hr>{% endif %}

                {% if message.body is defined %}<p>{{ message.body | raw }}</p>{% endif %}

                {% if message.body is defined and message.footer is defined %}<hr>{% endif %}

                {% if message.footer is defined %}
                    <p class="mb-0">{{ message.footer | raw }}</p>
                {% endif %}
            {% endif %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
{% endfor %}
