<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <a href="{{ path('home') }}" class="navbar-brand">Tic tac toc</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li>
                <div class="btn-group">
                    <a class="btn btn-outline-secondary text-white-50" href="{{ url('project_index') }}">Liste des projects</a>
                    <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ path('project_new') }}">Créer un project</a>
                        <a class="dropdown-item" href="{{ path('project_index') }}">Ma liste de projects</a>
                    </div>
                </div>
            </li>
        </ul>

        <ul class="navbar-nav mr-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Connexion
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <a class="dropdown-item" href="{{ url('admin') }}">Admin</a>
                        {% endif %}
                        <a class="dropdown-item" href="{{ url('front_user_edit', {"id" : app.user.id}) }}">Gérer mon
                            compte</a>
                        <a class="dropdown-item" href="{{ url('app_logout') }}">logout</a>
                    {% else %}
                        <a class="dropdown-item" href="{{ url('app_login') }}">login</a>
                        <a class="dropdown-item" href="{{ url('front_user_new') }}">Créer un compte</a>
                    {% endif %}
                </div>
            </li>
        </ul>
    </div>
</nav>
