<div class="bg-light sticky-top">
    <nav class="navbar navbar-expand-lg navbar-light container">
        <a href="{{ url('home') }}" class="navbar-brand mr-5">Tic tac toc</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <dropdown-navbar :main="{{ projects.main | json_encode }}"
                                 :sub-links="{{ projects.subLinks | json_encode }}"/>
            </ul>
            <ul class="navbar-nav">
                <dropdown-navbar :main="{{ connection.main | json_encode }}"
                                 :sub-links="{{ connection.subLinks | json_encode }}"
                                 :dropdown-dir="'rigth'"/>
            </ul>
        </div>
    </nav>
</div>
