{% extends 'base.html.twig' %}

{% block body %}
    <my-account
        card-title="Mon compte"
        :list="[
            ['editTab', 'editForm'],
            ['passwordTab', 'passwordForm'],
            ['deleteAccountTab', 'deleteAccountForm']]">

        <template slot="editTab" slot-scope="ddd">Éditer</template>
        <template slot="editForm">
            {{ form_start(formEditAccount) }}
            {{ form_widget(formEditAccount) }}
            <div class="text-right">
                <input class="btn btn-primary" type="submit" value="save">
            </div>
            {{ form_end(formEditAccount) }}
        </template>

        <template slot="passwordTab">Modifier mon mot de passe</template>
        <template slot="passwordForm">
            {{ form_start(formUpdatePassword) }}
            {{ form_widget(formUpdatePassword) }}
            <div class="text-right">
                <input class="btn btn-primary" type="submit" value="save">
            </div>
            {{ form_end(formUpdatePassword) }}
        </template>

        <template slot="deleteAccountTab">Supprimer mon compte</template>
        <template slot="deleteAccountForm">
            <form name="delete_user"
                  class="h-100"
                  method="post"
                  action="{{ path('front_user_delete', {'id': user.id}) }}"
                  onsubmit="return confirm('Êtes-vous sûre de vouloir supprimer votre compte?');">
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                <div class="d-flex align-items-end justify-content-center h-100">
                    <button class="btn btn-danger">Supprimer le compte</button>
                </div>
            </form>
        </template>
    </my-account>
{% endblock %}
