{% extends 'base.html.twig' %}

{% block body %}
    <div class="card shadow">
        <div class="card-header">
            <h5 class="card-title">Mon compte</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-4">
                    <div class="list-group" id="list-tab" role="tablist">
                        <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list"
                           href="#list-home" role="tab" aria-controls="home">Éditer</a>
                        <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list"
                           href="#list-profile" role="tab" aria-controls="profile">Modifier mon mot de passe</a>
                        <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list"
                           href="#delete_account" role="tab" aria-controls="profile">Supprimer mon compte</a>
                    </div>
                </div>
                <div class="col-8">
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="list-home" role="tabpanel"
                             aria-labelledby="list-home-list">
                            {{ form_start(formEditAccount) }}
                            {{ form_widget(formEditAccount) }}
                            <div class="text-right">
                                <input class="btn btn-primary" type="submit" value="save">
                            </div>
                            {{ form_end(formEditAccount) }}
                        </div>
                        <div class="tab-pane fade" id="list-profile" role="tabpanel"
                             aria-labelledby="list-profile-list">
                            {{ form_start(formUpdatePassword) }}
                            {{ form_widget(formUpdatePassword, {value: 'ddd'}) }}
                            <div class="text-right">
                                <input class="btn btn-primary" type="submit" value="save">
                            </div>
                            {{ form_end(formUpdatePassword) }}
                        </div>
                        <div class="tab-pane fade" id="delete_account" role="tabpanel"
                             aria-labelledby="list-profile-list">
                            <form name="delete_user"
                                  method="post" action="{{ path('front_user_delete', {'id': user.id}) }}"
                                  onsubmit="return confirm('Êtes-vous sûre de vouloir supprimer votre compte?');">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                                <div class="">
                                    <button class="btn btn-danger">Delete</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
